@import 'reset.css';
@import 'fonts.css';

// 表格的按钮区域
.table-list-toolbar {
  button {
    margin-right: 8px;
  }
}
th.n-data-table-th {
  text-align: center !important;
}

html, body{
  overflow: hidden;
}
